body {
  background-color: #eee;
  font-family: arial, sans-serif;
  font-size: 13px;
}

div {
  display: block;
}
.wrap {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 40px auto 20px;
  padding: 32px;
  width: 300px;
}

.wrap .logo {
  margin: 0.7em 0;
  text-align: center;
}
.wrap h1 {
  color: #333333;
  font-size: 1.5em;
  margin: 0.7em 0;
  text-align: center;
}
.wrap select {
  width: 300px;
  font-size: 15px;
}